<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%PRODUCTNAME%} - NodeFarm</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>🌱 NodeFarm</h1>
        
        <figure class="product">
            <div class="product__organic {%ORGANIC%}">
                <h5>Organik</h5>
            </div>
            <a href="/" class="product__back">
                <span class="emoji-left">👈</span>Geri
            </a>
            <div class="product__hero">
                <span class="product__emoji product__emoji--1">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--2">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--3">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--4">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--5">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--6">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--7">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--8">{%IMAGE%}</span>
                <span class="product__emoji product__emoji--9">{%IMAGE%}</span>
            </div>
            <h2 class="product__name">{%PRODUCTNAME%}</h2>
            <div class="product__details">
                <p><span class="emoji-left">🌍</span> Menşei {%FROM%}</p>
                <p><span class="emoji-left">❤️</span> {%NUTRIENTS%}</p>
                <p><span class="emoji-left">📦</span> {%QUANTITY%}</p>
                <p><span class="emoji-left">🏷</span> ${%PRICE%}</p>
            </div>
            
            <a href="#" class="product__link">
                <span class="emoji-left">🛒</span> Sepete Ekle
            </a>
            
            <p class="product__description">
                {%DESCRIPTION%}
            </p>
        </figure>
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>


